<div class="general-discount-stripe">
  <a href="{{ settings.general_discount_link }}" class="is-flex is-flex-column is-justify-center is-align-center has-padding-top has-padding-bottom text-align-center">
    <h2 class="title">
      {{ settings.general_discount_text }}
    </h2>
    {{ settings.general_discount_subtext }}
  </a>
</div>