<!-- Start snippets/mobile-header-custom__open-search.liqduid -->
<div class="mobile-header__open-search--holder is-flex is-justify-center is-align-center {{ additional_classes }}">
  <button class="header__link mobile-header__open-search mobile__sticky-search is-flex is-justify-left is-align-center" data-show-search-trigger>
    {% render 'icon',
      name: 'search',
      icon_class: 'header__icon'
    %}
    <span>{{ settings.search_placeholder }}</span>
  </button>
</div>
<!-- END snippet -->