<div class="one-third medium-down--one-half small-down--one-half product-card-wrapper">
  <div class="product-card">
    <div>
      <img src="{{ product_card_2_image }}" style="max-height:420px" alt="{{ product_card_2_image.alt }}">
    </div>
    <!-- {%- if product_card_2_text -%}
    <div>
      <h3 class="ff-bebas">{{ product_card_2_text }}</h3>
    </div>
    {%- endif -%} -->
  </div>
</div>
