{% liquid
  assign blocks = section.blocks
  capture hide_classes
    if section.settings.hide_on_desktop
      echo 'is-hidden-desktop-only '
    endif
    if section.settings.hide_on_tablet
      echo 'is-hidden-small '
    endif
    if section.settings.hide_on_mobile
      echo 'is-hidden-small-down '
    endif
  endcapture
%}

{% if blocks.size > 0 %}  
  <section class="mini_category-nav shopify-section section__wrapper {{ hide_classes }}">
    <div class="section is-width-wide">
      <nav class="is-flex is-align-stretch is-justify-center">
        <ul class="is-flex is-align-center">
          {% for block in blocks %}

            {% liquid
              assign block_image = block.settings.image
              assign block_link = block.settings.link
              assign block_title = block.settings.title
            %}

            <li>
              <a href="{{ block_link }}">
                <div class="item_image">
                  {% render 'image-element',
                    image: block_image,
                    alt: block_image.alt
                  %}
                </div>

                <div class="item_text text-align-center">
                  {{ block_title }}
                </div>
              </a>
            </li>

          {% endfor %} 
        </ul>
      </nav>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Mini Nav",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide_on_desktop",
      "label": "Hide on Desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_tablet",
      "label": "Hide on Tablet",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on Mobile",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Nav Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Nav",
      "name":"Mini Nav"
    }
  ]
}
{% endschema %}