











  
  
  






.meta-info-list{font-size:.8em}.meta-info-list .meta-info-list__item{margin-right:5px;display:inline-block}.meta-info-list .meta-info-list__item a,.meta-info-list .meta-info-list__item span{padding-left:5px;color:#000000}.meta-info-list .meta-info-list__item:first-child a,.meta-info-list .meta-info-list__item:first-child span{padding-left:0}.meta-info-list .meta-info-list__item:last-child{margin-right:0}.meta-info-list .meta-info-list__item+li:before{content:"|";color:rgba(0, 0, 0, 0.3)}